<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  by <%= @post.user.username %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @post.blog_entry %>
</p>

<div id="comments">
	<%= render 'comments/form', comment: @comment %>
	<% @post.comments.each do |comment| %>
		<div class="well">	
			<%= comment.author %> says... <br/>
			<%= comment.comment_entry %>
		</div>
			<% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
